/* Write your code here: */
h1,h2{
    color:blueviolet
    /*并列*/
}
.box>p{ 

    /*
    只包括存在的儿子
    because the parent box only has the done class.
    so the function of using done equals to using the p。
    */
    color:firebrick;
}
.list li{
    color: blue;
    /*后代选择器,不仅包括儿子，也包括孙子，意思就是孙子有这个选择器的条件，孙子直接
    变成需要的状态。*/
}
li.done{
    color:seagreen;
}
ul p.done{
    font-size: 0.5rem;
    
}